.pink{
    color: pink;
    background-color: black;
    text-align: center;
}

.border-pink{
    border: 1px solid palevioletred;
}

.img-size{
    width: 200px;
    height: 300px;
}

.margin{
    margin-top: 40px;
    margin-left: 850px;
}

.padding{
    padding-top: 40px;
    padding-left: 5 0px;
}