nav a{
    text-decoration: none;
    color: black;
    margin: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

nav:first-child{
    display: flex;
    justify-content: center;
}

nav:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

#horizontal-underline{
    position: absolute;
    width: 0;
    background-color: pink;
    top: 0;
    left: 0;
    height: 3px;
    transition: 0.5s;
}

#vertical-underline{
    position: absolute;
    width: 0;
    background-color: skyblue;
    top: 0;
    left: 0;
    height: 3px;
    transition: 0.5s;
}